@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    direction: rtl;
    text-align: right;
    font-family: 'Almoni Neue', 'Heebo', 'Assistant', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}
